/* Meta
----------------------------------------------- */

/* General */
.kickoff-meta .meta-field {
	margin: 1em 0.5em 1em 0;
}
.kickoff-meta .description {
	font-size: 0.8em;
	font-style: italic;
}

/* Form */
.kickoff-meta label {
	font-weight: bold;
	display: block;
	margin-bottom: 0.25em;
}
.kickoff-meta label input {
	margin-left: 0.5em;
}
.kickoff-meta select,
.kickoff-meta textarea,
.kickoff-meta input[type=text] {
	width: 100%;
}

/* Upload Manager */
.kickoff-meta .upload-image {
	position: relative;
	display: inline-block;
	margin-top: 0.75em;
	max-width: 100%;
}
.kickoff-meta .upload-image img {
	max-width: 100%;
	max-height: 20em;
	padding: 0.15em;
	margin-bottom: 0.25em;
	background-color: #f5f5f5;
	border: 1px solid #efefef;
}

/* Repeater Fields */
.kickoff-meta .repeater {
	cursor: move;
	position: relative;
	display: inline-block;
	vertical-align: top;
	padding: 1em 1.25em;
	margin: 0 1em 1.25em 0;
	max-width: 20em;
	background-color: #fbfbfb;
	border: 1px solid #efefef;
	border-radius: 0.25em;
}
.kickoff-meta .repeater img {
	max-width: 100%;
}
.kickoff-meta .repeater-gap {
	width: 12em;
	height: 12em;
	display: inline-block;
	margin-right: 2em;
	background-color: #fafafa;
	border: 1px dashed #ddd;
	border-radius: 0.25em;
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.1) inset;
}
.kickoff-meta .repeater-add {
	margin-top: 1em;
}

/* Remove Icon */
.kickoff-meta .remove {
	position: absolute;
	right: -0.5em;
	top: -0.5em;
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	background-color: #ff4545;
}
.kickoff-meta .repeater .upload .remove {
	background-color: #bababa;
}

/* Helpers */
.kickoff-meta .block {
	display: block;
}
.kickoff-meta .hide {
	display: none;
}
.kickoff-meta .show {
	display: inline-block;
}
