/* Setting
----------------------------------------------- */

/* General */
.kickoff-setting .setting-description {
	font-size: 0.8em;
	font-style: italic;
}

/* Upload manager */
.kickoff-setting .upload-image {
	position: relative;
	display: inline-block;
}
.kickoff-setting .upload-image img {
	max-width: 25em;
	min-width: 2em;
	max-height: 20em;
	padding: 0.15em;
	margin-bottom: 0.25em;
	background-color: #f5f5f5;
	box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.25);
}
.kickoff-setting .upload-remove {
	position: absolute;
	right: -0.5em;
	top: -0.5em;
	color: #fff;
	cursor: pointer;
	border-radius: 50%;
	background-color: #ff4545;
}
.kickoff-setting .upload-select {
	display: block;
}

/* Helpers */
.kickoff-setting .hide {
	display: none;
}
.kickoff-setting .show {
	display: inline-block;
}
